In [2]:
library("MASS")

In [3]:
head(Aids2)

  state sex diag  death status T.categ age
1 NSW   M   10905 11081 D      hs      35
2 NSW   M   11029 11096 D      hs      53
3 NSW   M    9551  9983 D      hs      42
4 NSW   M    9577  9654 D      haem    44
5 NSW   M   10015 10290 D      hs      39
6 NSW   M    9971 10344 D      hs      36